<%= form_with(model: Employee.new ) do |f| %>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">First Name</label>
      <%= f.text_field :first_name, class: "form-control" %>    
    </div>

    <div class="mb-3">
      <label class="form-label">Last Name</label>
      <%= f.text_field :last_name, class: "form-control" %>    
    </div>

    <div class="mb-3">
      <label class="form-label">Email Address</label>
      <%= f.text_field :email, class: "form-control"%>    
    </div>

    <div class="mb-3">
      <label class="form-label">Designation</label>
      <%= f.text_field :designation, class: "form-control"%>    
    </div>

    <div class="mb-3">
      <label class="form-label">Department</label>
      <%= f.select :department_id, options_for_select(Department.all.map { |d| [d.name, d.id] }), {prompt: "Select Department"}, class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit 'Create Employee', class: 'btn btn-outline gradient-custom-2' %>
  </div>
<% end %>



