<div style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-xl-12">
        <h2>Total Submitted: <%= Bill.all.count %></h2>
        <table class="table table-striped b-content text-black">
          <thead class="table gradient-custom-2">
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Type</th>
              <th scope='col'>Date of submission</th>
              <th scope="col">Submitted By</th>
              <th scope="col">Department</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @bills.each do |bill| %>
              <tr>
                <td><%= bill.amount %></td>
                <td><%= bill.bill_type %></td>
                <td><%= bill.created_at.strftime("%d-%m-%y") %></td>
                <td><%= bill.employee.full_name %></td>
                <td><%= bill.employee.department.name %></td>
                <td>
                  <%= link_to "Edit", edit_bill_path( bill), class: 'btn btn-outline-info' %>
                  <%= link_to "Delete", bill, data: { turbo_method: :delete, confirm: "Are you sure" }, class: 'btn btn-outline-danger' %>
                </th>         
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Create Bill", new_bill_path, class: 'btn gradient-custom-2 mb-2' %>
      </div>
    </div>
  </div>
</div>